    .result-row{
        border-top: rgb(144,144,144);
        border-top-width: 1px;
        border-top-style: solid;
    }

    .float-button{
        position: fixed;
        right: 20;
        bottom: 20;
        background-color: navy !important;
    }
    
    .short-column{
        width: 100px;
        flex: initial;
    }
    
    #serv-view{
        background-color: rgb(244,244,244);
        height: 100%;
        padding: 16px;
    }
    
    .whiteframe{
        background-color: white;
        padding: 8px;
        height: 100%;
    }
    
    .title-header{
        text-align: center;
        margin-bottom: 32px;
    }
    
    md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
        background-color: cornflowerblue;
    }

    .filtro{
        position: absolute;
        right: 64px;
        width: 150px;
        margin: 10px 0 0 0;
    }

    fieldset{
        border-color: rgb(192,192,192);
        border-style: solid;
        background-color: rgb(244,244,244);
    }

    #dash-view > div > fieldset > div > div.flex{
        position: relative;
    }

    fieldset > div > div.flex > button{    
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgb(192,192,192);
        color: rgb(80,80,80);
    }