<md-content id="dash-view" ng-init="vm.inicializar()">
    <div class="whiteframe" md-whiteframe="3">
        <div class="title-header">
            <md-input-container class="filtro">
                <label>Filtrar por fecha</label>
                <md-select ng-model="vm.fecha" ng-change="vm.estadisticas_servicios()">
                    <md-optgroup label="Fecha" >
                        <md-option ng-value="0">Todos</md-option>
                        <md-option ng-value="1">Enero</md-option>
                        <md-option ng-value="2">Febrero</md-option>
                        <md-option ng-value="3">Marzo</md-option>
                        <md-option ng-value="4">Abril</md-option>
                        <md-option ng-value="5">Mayo</md-option>
                        <md-option ng-value="6">Junio</md-option>
                        <md-option ng-value="7">Julio</md-option>
                        <md-option ng-value="8">Agosto</md-option>
                        <md-option ng-value="9">Septiembre</md-option>
                        <md-option ng-value="10">Octubre</md-option>
                        <md-option ng-value="11">Noviembre</md-option>
                        <md-option ng-value="12">Diciembre</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <h1>Panel administrador</h1>
        </div>
        <div layout="row" style="margin-bottom: 64px;">
            <div flex="50">
                <div class="title-header">
                    <h3>Servicios activos</h3>
                </div>
                <md-table>
                    <md-table-head>
                        <md-table-row class="header">
                            <md-table-cell>Servicio</md-table-cell>
                            <md-table-cell class="short-column">Costo</md-table-cell>
                            <md-table-cell class="short-column">Ventas</md-table-cell>
                        </md-table-row>
                    </md-table-head>
                    <md-table-data>
                        <md-table-row ng-repeat="servicio in vm.servicios">
                            <md-table-cell>{{servicio.nombre}}</md-table-cell>
                            <md-table-cell class="short-column">${{servicio.costo}}</md-table-cell>
                            <md-table-cell class="short-column">{{servicio.ventas}}</md-table-cell>
                        </md-table-row>
                        <!--Totales-->
<!--
                        <md-table-row class="result-row">
                            <md-table-cell></md-table-cell>
                            <md-table-cell class="short-column">Total </md-table-cell>
                            <md-table-cell class="short-column">$</md-table-cell>
                        </md-table-row>
-->
                    </md-table-data>
                </md-table>
            </div>
            <div flex="50" >
                <div class="title-header">
                    <h3>Paquetes activos</h3>
                </div>
                <md-table>
                    <md-table-head>
                        <md-table-row class="header">
                            <md-table-cell>Paquete</md-table-cell>
                            <md-table-cell class="short-column">Costo</md-table-cell>
                            <md-table-cell class="short-column">Ventas</md-table-cell>
                        </md-table-row>
                    </md-table-head>
                    <md-table-data>
                        <md-table-row ng-repeat="paquete in vm.paquetes">
                            <md-table-cell>{{paquete.nombre}}</md-table-cell>
                            <md-table-cell class="short-column">${{paquete.costo}}</md-table-cell>
                            <md-table-cell class="short-column">{{paquete.ventas}}</md-table-cell>
                        </md-table-row>
                        <!--Totales-->
<!--
                        <md-table-row class="result-row">
                            <md-table-cell></md-table-cell>
                            <md-table-cell class="short-column">Total: </md-table-cell>
                            <md-table-cell class="short-column">$</md-table-cell>
                        </md-table-row>
-->
                    </md-table-data>
                </md-table>
            </div>
        </div>
        <div layout="row">
            <div flex>
<!--                <h3>Paquetes mas vendidos</h3>-->
                <highchart id="chartPaquetes" config="vm.chartPaquetes"></highchart>
            </div>
            <div flex=>
<!--                <h3>Servicios mas vendidos</h3>-->
                <highchart id="mapaSecciones" config="vm.chartServicios"></highchart>
            </div>
<!--
            <div flex>
                <h3>Clientes mas frecuentes</h3>
                <highchart id="mapaSecciones" config="vm.chartClientes"></highchart>
            </div>
-->
        </div>
    </div>
</md-content>
<style>
    #dash-view{
        background-color: rgb(244,244,244);
        height: 100%;
        padding: 16px;
    }
    
    .filtro{
        position: absolute;
        right: 64px;
        width: 150px;
        margin: 10px 0 0 0;
    }
    
</style>